<h3>cargar imagen</h3>

<form action="/api/registro/guardar_imagen" enctype="multipart/form-data" method="POST">
      <input type="file" name="{{user}}"/>
      <input type="submit" value="Guardar imagen"/>
    </form>

    <form action="/api/login" method="get">
<input type="submit" value="ingresar">
</form>